@import "../src/scss/settings.scss";
@import "../src/scss/headers.scss";
@import "../src/scss/mixins/fontWeights.scss";
@import "../src/scss/mixins/tailwindFonts.scss";

.app-header {
  text-align: center;
}

a {
  color: $color-red;
  text-decoration: none;
  list-style: none;
}

a:visited {
  color: $color-green;
}

.app {
  background-color: $color-off-white;
  padding: $base-padding;
}

.text-weight {
  @include fontWeights();
}

.text {
  @include tailwindFonts();
}