@import "./settings.scss";
@import "./headers.scss";
@import "./mixins/fontWeights.scss";
@import "./mixins/tailwindFonts.scss";

.app-header {
  text-align: center;
}

a {
  color: $color-red;
  text-decoration: none;
  list-style: none;
}

a:visited {
  color: $color-green;
}

.app {
  background-color: $color-off-white;
  padding: $base-padding;
}

.text-weight {
  @include fontWeights();
}

.text {
  @include tailwindFonts();
}